<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <param name="/use_sim_time" value="false" />
  <arg name="rviz" default="true"/>
  <arg name="map_file" default="$(find buct_navigation)/maps/map.yaml"/>

  <!-- robot_description -->
  <include file="$(find ep_description)/launch/ep_description.launch"/>
  
  <!-- bringup -->
  <include file="$(find ep_bringup)/launch/bringup.launch"/>
  
  <!-- Depth Image 2 Laser Scan -->
  <include file="$(find buct_navigation)/launch/include/depthimage_to_laserscan.launch"/>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Odometry -->
  <include file="$(find buct_navigation)/launch/include/lsm_lidar.launch"/>
  <include file="$(find buct_navigation)/launch/include/localization_fusion.launch"/>

  <!-- Localization -->
  <node pkg="iris_lama_ros" type="loc2d_ros" name="loc2d_ros" output="screen">
      <remap from="/scan" to="/rplidar/scan" />
  </node>
  
  <!-- Move_Base -->
  <include file="$(find buct_navigation)/launch/include/move_base.launch"/>

  <!-- rviz -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find buct_navigation)/rviz/navigation.rviz"/>

    <!-- Target Detection -->
  <node pkg="buct_detect" name="aruco_pose_node" type="detect_cube.py" />
  
  <!-- Main -->
  <node pkg="buct_sim2real" type="grasping.py" name="buct_sim2real" output="screen" />
</launch>
