<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <param name="/use_sim_time" value="true" />
  <arg name="rviz" default="true"/>
  <arg name="map_file" default="$(find buct_navigation)/maps/map.yaml"/>  
  <arg name="bag_filename" default="$(find buct_navigation)/bags/1.bag"/>

  
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Odometry -->
  <include file="$(find buct_navigation)/launch/include/lsm_lidar.launch"/>
  <include file="$(find buct_navigation)/launch/include/localization_fusion.launch"/>

  <!-- Localization -->
  <node pkg="iris_lama_ros" type="loc2d_ros" name="loc2d_ros" output="screen">
      <remap from="/scan" to="/rplidar/scan" />
  </node>
  
  <!-- Move_Base -->
  <include file="$(find buct_navigation)/launch/include/move_base.launch"/>
  
  <!-- rviz -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find buct_navigation)/rviz/navigation.rviz"/>
  <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" />
          
  <!-- Multi_Goals -->
  <include file="$(find buct_navigation)/launch/include/multi_goals.launch"/>
  
</launch>
